@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    /* Fontes */
    --fonte-principal: "Inter", sans-serif;

    /* Cores */
    --cor-textos: #212121;
    --cor-links: #22B5F3;
}

.configuracoes-container {
    display: flex;

}

.secao-configuracoes-2 {
    background-color: #EFEFEF;
    width: 100%;
    height: 100vh;
}

.secao-configuracoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secao-configuracoes-configs {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 20em;
    margin: 1em 0 0em 1em;
    font-family: "Inter", sans-serif;
}

.sair-config {
    text-align: end;
    align-self: end;
    margin: 0 1em 1em 0;
    font-family: var(--fonte-principal);
}

.titulo-configs {
    font-family: var(--fonte-principal);
    display: flex;
    gap: 1em;
}

.tirar-decoracao{
    text-decoration: none;
    color: var(--cor-textos);
}

.topicos-configs {
    display: flex;
    gap: 1em;
}

.configs-assistencia {
    margin: 1em 0 0 2em;
    font-family: var(--fonte-principal);
}

#paragrafo-instrucoes {
    margin: 3em 0 6em 0;
    font-size: 13px;
}

#titulo-config-assistencia {
    font-size: 20px;
    font-weight: bold;
}

.configs-assistencia-opcoes {
    font-size: 13px;
}

#assistencia-faq {
    margin: 2em 0;
}

@media screen and (max-width: 767px) {
    .secao-configuracoes, #paragrafo-instrucoes {
        display: none;
    }
    
    #titulo-config-assistencia {
        font-size: 13px;
        margin-bottom: 3em;
        text-align: center;
    }
}